@{
    ViewData["Title"] = "Test Page";
}


<h1>In Stock items</h1>

@*
    Display a table here which shows the products with any Available stock
    - use the bootstrap table styling
    - Available stock = Total Stock - Reserved Stock
    - Columns shown:
        - action => with a link to a placeholder product detail page. 
        - Name
        - Total Amount in stock
        - Available stock (this should be orange if < 10 and red < zero)

*@

<table class="table table-striped">
    <thead>
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Total Amount in Stock</th>
            <th>Available Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            int availableStock = product.InStockQuantity - product.ReservedQuantity;
            string availableStockColor = availableStock < 0 ? "red" : (availableStock < 10 ? "orange" : "");

            <tr>
                <td><a href='@Url.Action("ProductDetail", "Home", new { id = product.Id })'>View Details</a></td>
                <td>@product.Name</td>
                <td>@product.InStockQuantity</td>
                <td style="color: @availableStockColor">@availableStock</td>
            </tr>
        }
    </tbody>
</table>